.btn-gradient {
    padding: 12px 24px;
    background: linear-gradient(25deg, #1100ff, #00ffcc);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s;
  }
  
  .btn-gradient:hover {
    transform: scale(1.2);
  }